body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: gray;
    background-color: gray;


}

.container {
    max-width: 100%;
    max-height: 100%;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(red, green, blue, alpha);
    border-radius: 0%;
    color: black;
    border-color: white;
    border-width: 5px; /* You can adjust the value as needed */
    border-style: solid; /* Specify the border style */
    
    
}









.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0; 
    border: none;
    background-color: transparent;
}


.buttons button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    gap: 0;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;


    
}

/* Apply gray background to the fourth column in .buttons */
/* .buttons button:nth-child(4) {
    background-color: gray;
} */
.buttons > :nth-child(4n) {
    background-color: gray;
    
}



.calculator-display {
    display: grid;
    max-width: 165%;
    height: 50px;
    grid-template-columns: 75% 25%;
    gap: 0;
    border: none;
    background-color: transparent;
    padding: 0; /* Reset padding to zero */
}


.display{
    color: black; /* Assuming this is the text color for both display and clear button */
    padding-left: 112px;
}
.clear {
    color: black; /* Assuming this is the text color for both display and clear button */
    background-color: blue;
    padding: 10px; /* Adjust the padding as needed for styling */
    cursor: pointer;


}


